@charset "utf-8";
/* CSS Document That Defines the Basic Website Look*/

/*this styles the the main navigation*/
* {
	padding: 0;
	margin: 0;
}
body { font: 14px Georgia, serif; background: #2F2626; color: #eee; }


.group:hover {
	color: white;
}

.nav-wrap { 
	background-color: rgba(0,0,0,0.6); 
	border-top:    2px solid white; 
	border-bottom: 2px solid white; 
}

.group:after { visibility: hidden; display: block; content: ""; clear: both; height: 0; }
*:first-child+html .group { zoom: 1; } /* IE7 */

/*this styles the main navigation*/

#example-one { 
	margin: 0 auto; 
	list-style: none; 
	position: relative; 
	width: 960px; 
}
#example-one li { 
	display: inline-block;	
}
#example-one a { 
	color: #bbb; 
	font-size: 14px; 
	float: left;
	padding: 6px 10px 4px 10px;
	text-decoration: none;
	text-transform: uppercase;
}
#example-one a:hover { 
	color: white; 
}
#magic-line { 
	position: absolute;
	bottom: -2px; 
	left: 0; 
	width: 100px; 
	height: 2px; 
	background: #8b3b90;
}
.current_page_item a { 
	color: white !important; 
}
.ie6 #example-one li, .ie7 #example-one li { 
	display: inline; 
}
.ie6 #magic-line {
	bottom: -3px;
}
/*this defines the horizontal white lines*/
hr {
	display: block;
	position: relative;
	padding:0;
	height: 0;
	width: 100%;
	max-height: 0;
	font-size:1px;
	line-height:0;
	border: none;
	border-top:1px solid #aaaaaa;
	border-bottom: 1px solid #ffffff;
}
/*this defines the header.jpg is displayed*/
#HeaderBanner {
	width: 100%;
	height: auto;
}
/*the below styles the general text found throughout*/
p {
    font-family: Arial, Helvetica, sans-serif;
	font-style: normal;
	font-size: 18px;
	font-weight: bold;
	color: white;
	text-align: justify;
}
/*The below defines how the content divs will appear*/
#MainContent {
	margin: 0 auto;
	width: 100%;
	overflow:hidden;
}

#LeftContent {
	margin-left: 50px;
	margin-top: 25px;
	margin-right: 50px;
	margin-bottom: 25px;
	float:left;
	overflow:hidden;
}

#RightContent {
	margin-top: 25px;
	margin-right: 50px;
	margin-bottom: 25px;
	overflow:hidden;
	
}
/*This div tells the copyright info to remain below the content divs*/
#Copyright {
clear: both;
width: inherit;
height: auto;
position: static;
padding: 0px 10px 5px 10px;
background-color:#000;
}


/* Added for contact form by Mahesh*/
.contact-form input, textarea{
  padding: 5px;
  margin: 5px 0;
}
.contact-form #blue-text{
  font-size: 15px;
}
.contact-form input[type="submit"]{
  font-size: 30px;
  width: 100px;
}
